html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height: 1; }
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none; }
table {border-collapse: collapse;border-spacing: 0;}
html,body {width:100%;}
body { font-family:"Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#404956;-webkit-text-size-adjust:100%; background:#F4F6F8; font-size:32px;  margin:0 auto;}
[v-cloak] { display: none }
h1, h2, h3, h4, h5, h6 {font-weight: normal; font-size:1em;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit; }
div{box-sizing: border-box;}
em {font-style:normal; }
strong {font-weight:normal;}
small {font-size: 80%; }

a { text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0); cursor:pointer;}
a, a:visited { color: #333; text-decoration: none; outline: 0; }
a:hover, a:focus { color: #333; }
/*a:active {background-color:rgba(0,0,0,.05);}*/
p a, p a:visited { line-height: inherit; }

/*a, img {-webkit-touch-callout: none; }*//* 禁止长按链接与图片弹出菜单 */
ul { list-style: none outside; }
ol { list-style: decimal; }

.button,button,input[type="submit"],input[type="reset"],input[type="button"] {-webkit-appearance:none;-moz-appearance:none; -moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px;font-family: "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; margin:0; padding:0;}

button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
input:disabled{border: 1px solid #DDD;background-color: #F5F5F5;color:#999;}


input[type="text"],input[type="search"],input[type="password"],input[type="email"],input[type="number"],input[type="tel"],textarea {border: 1px solid #a0a0a0; outline: none; font:0.24rem "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #333; max-width: 100%;display:block;background: #fff; -webkit-appearance:none;-moz-appearance:none; -moz-border-radius:0px;-webkit-border-radius:0px;border-radius:0px; margin:0; padding:0; box-sizing: border-box;}
input[type="date"] {font: 0.24rem "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #333; max-width: 100%;}
select {border: 1px solid #a0a0a0; font:0.24rem "Microsoft YaHei",SimHei,"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #333; max-width: 100%;display:block;background: #fff;}
input[type="text"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="number"]:focus,input[type="date"]:focus,input[type="password"]:focus,input[type="email"]:focus,textarea:focus {color: #333;}
textarea {min-height:1.2rem; box-sizing: border-box;}
label,legend {display: block;font-weight: normal;}
input[type="checkbox"] {display: inline;}
input.readonly,.readonly{background-color:#eee;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color:#b9b9b9;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {color:#999;}
